{% extends 'base.twig' %}

{% block title %}Аксессуары{% endblock %}
{% block keywords %}p-lacebo, Даниил Пискарев, Аксессуары P-lacebo{% endblock %}
{% block description %}Аксессуары P-lacebo{% endblock %}

{% block content %}
    <section class="content" style="margin-top: 7vw; text-align: center">
        <div class="flex-block">
            {% for block in blocks %}
                <div class="block" {% if block.url !='' %}onclick="location.href='{{ block.url }}'"{% endif %}>
                    <div class="names-top">
                        <span>{{ block.name|nl2br }}</span></a>
                    </div>
                    <div class="flex-parts">
                        {% if block.url !='' %}<a href="{{ block.url }}">{% endif %}
                            <img class="img1" src="{{ block.img }}">
                        {% if block.url !='' %}</a>{% endif %}
                        <div class="names-bottom">
                            <span>{{ block.description|nl2br }}</span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}