{% extends 'base.twig' %}

{% block content%}
    <div class="title"><span class="t001"><i>Контакты:</i></span></div>
    {% for contact in contacts %}
        <section class="content" style=" text-align: center">
            <div class="description">
            <span class="t0001" >
                {{ contact.description }}<br>
                {{ contact.job }}<br>
                {{ contact.name }}<br>
                {% if contact.phone != '' %}Моб.: {{ contact.phone }} <br> {% endif %}
                <a href="mailto:{{ contact.email }}" class="mail-link">{{ contact.email }}</a><br>
            </span>
            </div>
        </section>
        {% if contact.facebook != '' or contact.instagram != '' %}
            <section class="content" style=" text-align: center">
            {% if contact.instagram != '' %}
                <div class="flex-block" style="margin-top: 3vw">
                    <div class="block" onclick="location.href='{{ contact.instagram }}'">
                        <div class="flex-parts">
                            <a class="img1" href="{{ contact.instagram }}" title="">
                                <img class="img1" src="img/Social/Instagram.jpg"></a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if contact.facebook != '' %}
                <div class="flex-block" style="margin-top: 3vw">
                    <div class="block" onclick="location.href='{{ contact.facebook }}'">
                        <div class="flex-parts">
                            <a class="img1" href="{{ contact.facebook }}" title="">
                                <img class="img1" src="img/Social/Facebook.jpg"></a>
                        </div>
                    </div>
                </div>
            {% endif %}

            </section>
        {% endif %}
    {% endfor %}
{% endblock %}