<div class="block">
    <div class="flex-parts">
        {% for slide in slides %}
        <a data-fancybox="gallery{{ id }}"
           data-caption='<div class="p1 t76" style="text-align: left;"><span class="t01">{{ slide.caption_title | nl2br }}<br></span>
                       <span class="t0">{{ slide.caption_description | nl2br }}</span></div>'
           href="{{ slide.img }}">
            {% endfor %}
            <img class="img1" src="{{ img }}">
            {% for slide in slides %}
        </a>
        {% endfor %}
        <div class="names-bottom">
            <span>{{ title | nl2br }}</span>
        </div>
    </div>
</div>