{% extends 'base.twig' %}

{% block title %}{{ partner.name }}{% endblock %}
{% block keywords %}p-lacebo, {{ partner.name }}, партнёр P-lacebo{% endblock %}
{% block description %}{{ partner.name }} Партнёр P-lacebo{% endblock %}

{% block content %}
    <div class="title"> <span class="t001" >
        <i>{{ partner.title }}</i>
    </span>
    </div>
    <section class="content" style="margin-top: 7vw; text-align: center">

        <div class="flex-block">
            <div class="block" {% if partner.url != '' %}onclick="location.href='{{ partner.url }}'"{% endif %}>
                <div class="flex-parts">
                    {% if partner.url != '' %}<a class="img1" href="{{ partner.url }}" title="">{% endif %}
                    <img class="img1" src="{{ partner.photo }}" width="80%">{% if partner.url != '' %}</a>{% endif %}
                </div>
            </div>
        </div>

        {% if partner.phone != '' and partner.email != '' %}
        <div class="flex-block" style="margin-top: 3vw">
            <div class="block">
                <div class="flex-parts">
                    <div class="description">
                <span class="t0001">{% if partner.phone != '' %}Телефон: {{ partner.phone }}{% endif %}
                    {% if partner.email != '' and partner.phone != '' %}<br>{% endif %}
                    {% if partner.email != '' %}Е-mail: {{ partner.email }}{% endif %}
                </span></div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if partner.instagram != '' %}
        <div class="flex-block" style="margin-top: 3vw">
            <div class="block" onclick="location.href='{{ partner.instagram }}'">
                <div class="flex-parts">
                    <a class="img1" href="{{ partner.instagram }}" title="">
                        <img class="img1" src="img/Social/Instagram.jpg" width="80%"></a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if partner.facebook != '' %}
        <div class="flex-block" style="margin-top: 3vw">
            <div class="block" onclick="location.href='{{ partner.facebook }}'">
                <div class="flex-parts">
                    <a class="img1" href="{{ partner.facebook }}" title="">
                        <img class="img1" src="img/Social/Facebook.jpg" width="80%"></a>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    <div class="description">
    <span class="t0001" >
        {{ partner.description|nl2br }}
    </span>
    </div>
{% endblock %}